<html lang="en">

<head>
    <title>Shopping List: Create</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cdn/css/bootstrap.css">
    <link rel="stylesheet" href="/cdn/css/landingPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/cdn/libraries/jquery.js"></script>
    <script src="/cdn/scripts/landingPage.js"></script>
</head>

<body style="background-color: #f6f6f6;">
    <div>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="#">
                        <i class="fa fa-shopping-cart fa-4x fa-pull-left"></i>
                    </a>
                    <a class="navbar-brand" href="#">SHOPPING LIST</a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li role="presentation">
                            <a href="#">First Item</a>
                        </li>
                        <li role="presentation">
                            <a href="#">Second Item</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation">
                                    <a href="#">First Item</a>
                                </li>
                                <li role="presentation">
                                    <a href="#">Second Item</a>
                                </li>
                                <li role="presentation">
                                    <a href="#">Third Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <form role="form" id="contact-form" class="contact-form">
                <div class="row centered">
                    <div class="col-md-5 col-md-offset-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Item" autocomplete="off" id="ShoppingListItem" value="" placeholder="Item">
                            <input type="text" class="form-control" name="Category/Aisle" autocomplete="off" id="ShoppingListCategory" value="" placeholder="Category/Aisle">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn main-btn" onclick="addItem()">Submit</button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group" id="list-container">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>